@model IEnumerable<NRP.KlientMvc.Models.v_Form_Odpowiedzi>

@{
    ViewBag.Title = "Lista odpowiedzi";
}

<h2>Lista odpowiedzi</h2>
<form action="/odpowiedzi/edit/" name="v_Form_Odpowiedzi" method="post">
    <table class="table">
        <tr>
            <th>
                Treść pytania
            </th>
            <th>
                Odpowiedź
            </th>
        </tr>
        @foreach (var trescPytania in Model.Select(o => o.trescPytania).Distinct())
        {
            <tr>
                <td>
                    @trescPytania
                </td>
                <td>
                    @{var itemNo = 1; }
                    <select name="@trescPytania">
                        @foreach (var item in Model.Where(m => m.trescPytania == trescPytania))
                        {
                        <option value="@item.idOdpowiedzi"
                                @if (itemNo++ == 2) { <text>selected</text>}>
                            [@item.idOdpowiedzi] @item.odpowiedz
                        </option>
                        }

                    </select>
                </td>
            </tr>
        }
    </table>
    @Html.AntiForgeryToken()

    <input type="submit" value="Wyślij" class="btn btn-primary" />
</form>
